# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# PyTorch checkpoints and large raw volumes
*.pth
*.pt
*.bin
*.tar.gz
*.dcm
raw_dicom/
autodl-tmp/

# OS / Editor
.DS_Store
.vscode/
.idea/

# LaTeX build outputs
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
